<script type = 'application/ld+json'> {
    "@context": "https://schema.org",
    "@graph": [{
        "@type": "WebSite",
        "@id": "https://www.mlwhiz.com/#website",
        "url": "https://www.mlwhiz.com/",
        "name": "MLWhiz",
        "description": "Want to Learn Computer Vision and NLP? - MLWhiz",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.mlwhiz.com/search?s={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }, {
        "@type": "ImageObject",
        "@id": {{ (print .Permalink "#primaryimage") }},
        "url": {{ .Params.Image | absURL }},
        "width": 700,
        "height": 450
    }, {
        "@type": "WebPage",
        "@id": {{ (print .Permalink "#webpage") }},
        "url": {{ .Permalink  }},
        "inLanguage": "en-US",
        "name": {{print .Title " - MLWhiz"}},
        "isPartOf": {
            "@id": "https://www.mlwhiz.com/#website"
        },
        "primaryImageOfPage": {
            "@id": {{ (print .Permalink "#primaryimage") }}
        },
        "datePublished":"{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "author": {
            "@id": "https://mlwhiz.com/about/#/schema/person/76376876bchxkzbchjsdjcca"
        },
        "description": "{{ if .Description }}{{ .Description | plainify | safeJS }}{{ else }}{{if .IsPage}}{{ .Summary | plainify }}{{ end }}{{ end }}"
    },


    {
        "@type": ["Person"],
        "@id": "https://mlwhiz.com/about/#/schema/person/76376876bchxkzbchjsdjcca",
        "name": "Rahul Agarwal",
        "image": {
            "@type": "ImageObject",
            "@id": "https://www.mlwhiz.com/#authorlogo",
            "url": "https://mlwhiz.com/images/author.jpg",
            "caption": "Rahul Agarwal"
        },
        "description": "Hi there, I\u2019m Rahul Agarwal. I\u2019m a data scientist consultant and big data engineer based in Bangalore. I see a lot of times  students and even professionals wasting their time and struggling to get started with Computer Vision, Deep Learning, and NLP. I Started this Site with a purpose to augment my own understanding about new things while helping others learn about them in the best possible way.",
        "sameAs": ["https://www.linkedin.com/in/rahulagwl/",
          "https://medium.com/@rahul_agarwal",
          "https://twitter.com/MLWhiz","https://www.facebook.com/mlwhizblog","https://github.com/MLWhiz","https://www.instagram.com/itsmlwhiz"]
    }]
} </script>
